{% extends 'app' %}

{% block body %}
    {% include 'navbar' with {
        links: site.main_menu,
    } only %}

    <h1>{{ page.title }}</h1>

    {% block content %}{% endblock %}
    {% block content_bottom %}{% endblock %}
{% endblock %}
